.header-bar-container{
  height: 75px;
  background-color: #24563b;;
  display: flex; 
}

body{
    margin: 0;
}

.left-header-container{
  background-color: red; 
  width: 200px; 
}

.homepage-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.profile-bar-container{
  background-color: yellow; 
  width: 200px; 
}

.homepage-buttons{
  
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none; 
  font-size: 25px; 
  transition: color 0.2s;
  padding-left: 20px; 
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  cursor: pointer;
  
}

.homepage-buttons:hover{
  color: #67AC78; 
}

.bottom-bar-container{
  display: flex; 
  justify-content: center; 
  position: fixed; 
  bottom: 0px; 
  right: 0px; 
  left: 0px; 
  
  height: 75px; 
  background-color: #24563b;;

}

.middle-button-container{
  display: flex; 
  justify-content: center; 
  margin-top: 30px; 
}

.middle-sign-buttons{
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  border-radius: 400px; 
  border-style: solid; 
  border-color: #67AC78;
  background-color: #24563b;; 
  color: white; 
  margin-left: 10px; 
  cursor: pointer; 
}