.header-bar-container{
  height: 75px;
  background-color: #24563b;;
  display: flex; 
}

body{
    margin: 0;
}

.left-header-container{
  background-color: #24563b; 
  width: 200px; 
}

.homepage-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.home-button-image {
  /*width: 500px;*/
  filter: grayscale(70%);
  height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

/*.home-button{
  position: absolute;
  top: 50px;
  left: 50px;
}*/

.home-button{
  height: 70px;
  width: 70px;
  position: relative;
  top: 2px;
  left: 10px;
  background-color:#24563b;
}

.section{
  position: relative;
}

.profile-bar-container{
  background-color: #24563b; 
  width: 200px; 
}


.middle-info-containers{
  margin-top: 100px; 
}


.homepage-buttons{
  
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none; 
  font-size: 25px; 
  transition: color 0.2s;
  padding-left: 20px; 
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  cursor: pointer;
  
}

.homepage-buttons:hover{
  color: #67AC78; 
}

.bottom-bar-container{
  display: flex; 
  justify-content: center; 
  position: fixed; 
  bottom: 0px; 
  right: 0px; 
  left: 0px; 
  
  height: 75px; 
  background-color: #24563b;;

}

.middle-button-container{
  display: flex; 
  justify-content: center; 
  margin-top: 90px; 
}

.middle-sign-buttons{
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  border-radius: 400px; 
  border-style: solid; 
  border-color: #67AC78;
  background-color: #24563b;; 
  color: white; 
  margin-left: 10px; 
  cursor: pointer; 
}

.logout{
  padding-left: 20px; 
  padding-right: 20px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  border-radius: 400px; 
  border-style: solid; 
  border-color: #67AC78;
  background-color: #24563b;; 
  color: white; 
  margin-left: 10px; 
  cursor: pointer; 
  margin-top: 15px; 
}