body {
  font-family: Roboto;
}


.my-plant-container {
  flex: 1;
  height: 550px;
  background-color: #24563b;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  column-gap: 10px;
  row-gap: 10px;
  margin-left: 10px;
  border: solid;
  border-color: #24563b;
  border-radius: 30px;
  overflow: auto;
}


.sort-by-container {
  width: 40%;
  background-color: white;
  border-style: none;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}


.middle-info-holder {
  margin-top: 40px;
  display: flex;
}


.plant {
  background-color: beige;
  height: 170px;
  width: 170px;
  border-radius: 10px;
  margin-left: 23px;
  cursor: pointer;
}


.plant-image-container {
  height: 120px;
  background-color: #67ac78;
  display: flex;
  justify-content: center;
}


.plant-name-container {
  height: 50px;
  background-color: #67ac78;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.plant-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}


.plant-name,
.location {
  color: #24563b;
}


.sort-by-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.add-plant-button {
  border-radius: 40px;
  padding: 10px 20px;
  border-style: solid;
  font-size: 15px;
}


.add-the-info {
  border-width: 10px;
  position: absolute;
  width: 400px;
  height: 500px;
  background-color: #67ac78;
  top: -227px;
  right: -100px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.18s ease;
  display: flex;
  border-radius: 20px;
}


.add-the-info.pressedAdd {
  opacity: 1;
  pointer-events: auto;
}


.input-information {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #24563b;
  width: 160px;
  padding-left: 10px;
  border-radius: 400px;
  display: block;
  border: solid;
  border-width: 3px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: white;
}


.input-information::placeholder {
  color: white;
}


.input-information:focus {
  outline: none;
  border-color: #24563b;
}


.plantImagePreview {
  border: none;
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-top: 40px;
}


input[type="file"]::file-selector-button {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #24563b;
  padding-left: 10px;
  padding-right: 10px; 
  border-radius: 400px;
  border: solid;
  border-width: 3px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: white;
  width: 160px;
  cursor: pointer;
}


.plant-type {
  background-color: #24563b;
  border-color: white;
  border-radius: 30px;
  border-width: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 160px;
  cursor: pointer;
}


.options-button {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #24563b;
  padding-left: 10px;
  padding-right: 10px; 
  border-radius: 400px;
  border: solid;
  border-width: 3px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: white;
  width: 160px;
  cursor: pointer;
}

.adding-plant-info-button{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #24563b;
  padding-left: 10px;
  padding-right: 10px; 
  border-radius: 400px;
  border: solid;
  border-width: 3px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: white;
  width: 160px;
  cursor: pointer;
}



