body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.middle-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  width: 800px; 
  background-color: #24563b;
  border-radius: 10px;
  padding: 20px;
}

.today-header {
  display: flex;
  background-color: #67ac78;
  border-radius: 20px; 
  padding: 10px;
  font-weight: bold;
}

#list-container {
  list-style: none; 
  padding: 0; 
  margin: 0; 
}

#list-container li {
  display: flex;
  align-items: center; 
  margin: 10px 0;
  color: white; 
  cursor: pointer; 
  position: relative;
}

.selected-plant-container {
  width: 30%;
  background-color: #67AC78;
  border-radius: 10px;
  padding: 9cap;
  color: white; 
  margin-left: 10px; 
}

.checkbox {
  height: 17px;
  width: 17px; 
  background-image: url('../templates/uncheck.png'); 
  background-size: cover; 
  background-position: center; 
  margin-right: 10px; 
}

#list-container li.checked .checkbox {
  background-image: url('../templates/check.png'); 
}

#list-container li.checked {
  color: white; 
  text-decoration: line-through;
}
